<p>
  apparatus works!
</p>

<img src="../../../img/chemex.png" class="img-responsive img-thumbnail" (click)="select('chemex')">
<img src="../../../img/hario.png" class="img-responsive img-thumbnail" (click)="select('v60')">
<img src="../../../img/kalita.png" class="img-responsive img-thumbnail" (click)="select('wave')">
<img src="../../../img/aeropress.png" class="img-responsive img-thumbnail" (click)="select('aeropress')">
<img src="../../../img/siphon.png" class="img-responsive img-thumbnail" (click)="select('siphon')">
