<p>
  apparatus works!
</p>

<img src="../../../img/chemex.png" class="img-responsive img-thumbnail" (click)="selectApparatus('chemex')">
<img src="../../../img/hario-v60.png" class="img-responsive img-thumbnail" (click)="selectApparatus('hario-v60')">
<img src="../../../img/kalita-wave.png" class="img-responsive img-thumbnail" (click)="selectApparatus('kalita-wave')">
<img src="../../../img/aeropress.png" class="img-responsive img-thumbnail" (click)="selectApparatus('aeropress')">
<img src="../../../img/hario-siphon.png" class="img-responsive img-thumbnail" (click)="selectApparatus('hario-siphon')">
